body{

margin:0;
padding:0;

font-family:Arial,sans-serif;

background:#0a4ea3;

color:white;

text-align:center;

overflow:hidden;

}

#splashScreen{

position:absolute;

width:100%;

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

background:#0a4ea3;

}

.globe{

font-size:120px;

}
@keyframes pulse{

0%{
transform:scaleX(1);
}

50%{
transform:scaleX(0.7);
}

100%{
transform:scaleX(1);
}

}
@keyframes spin{

from{
transform:rotate(0deg);
}

to{
transform:rotate(360deg);
}

}

#homeScreen{

display:none;

height:100vh;

justify-content:center;

align-items:center;

flex-direction:column;

background:linear-gradient(#0a4ea3,#1b77e5);

}

.mainTitle{

font-size:40px;

font-weight:bold;

margin-bottom:10px;

}

.subTitle{

font-size:18px;

margin-bottom:50px;

}

button{

width:300px;

height:95px;

margin:18px;

border:none;

border-radius:25px;

font-size:24px;

font-weight:bold;

color:white;

cursor:pointer;

transition:0.3s;

}

button:hover{

transform:translateY(-4px);

}

button:active{

transform:translateY(2px);

}

#countryBtn{

background:rgba(255,140,0,0.65);

backdrop-filter:blur(20px);

box-shadow:
0 8px 25px rgba(255,140,0,0.5),
inset 0 2px 10px rgba(255,255,255,0.4);

border:1px solid rgba(255,255,255,0.4);

}

#indiaBtn{

background:rgba(0,180,80,0.65);

backdrop-filter:blur(20px);

box-shadow:
0 8px 25px rgba(0,180,80,0.5),
inset 0 2px 10px rgba(255,255,255,0.4);

border:1px solid rgba(255,255,255,0.4);

}
#countriesPage{

padding:20px;

}

#searchCountry{

width:80%;

height:40px;

border-radius:15px;

border:none;

padding:10px;

margin:20px;

}

.countryCard{

background:rgba(255,255,255,0.2);

padding:15px;

margin:10px;

border-radius:15px;

backdrop-filter:blur(10px);

}
